<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email Address", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :password, class:"form-label" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Enter New Password", class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm New Password", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :current_password, class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Enter Current Password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-success" %>
  </div>
<% end %>

<div class="card my-5" >
	<h3 class="card-header">Cancel my account</h3>
  <div class="card-body px-3 pt-2 pb-3">
    <p class="card-subtitle mt-3 mb-4 text-muted">Unhappy?</p>

		<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  </div>
</div>

<%= link_to "Back", :back %>
