<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation my-4">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :first_name, class:"form-label" %>
    <%= form.text_field :first_name, placeholder:"First Name", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :last_name, class:"form-label" %>
    <%= form.text_field :last_name, placeholder:"Last Name", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, placeholder:"Email Address", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :phone, class:"form-label" %>
    <%= form.text_field :phone, placeholder:"Phone Number", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :twitter, class:"form-label" %>
    <%= form.text_field :twitter, placeholder:"Twitter Username", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :age, class:"form-label" %>
    <%= form.text_field :age, placeholder:"Age", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :friend_user_id, value: current_user.id, class:"form-control", type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success my-3" %>
  </div>
<% end %>
