<% if user_signed_in? %>
	<h1 class="my-3">Friends</h1>

	<table class="table table-striped table-bordered table-hover">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Twitter</th>
				<th>Age</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @friends.each do |friend| %>
				<% if friend.user == current_user %>
					<tr>
						<td>
						<%= link_to "#{friend.first_name.capitalize} #{friend.last_name.capitalize}", friend %></td>
						<td><%= friend.email %></td>
						<td><%= friend.phone %></td>
						<td><%= friend.twitter %></td>
						<td><%= friend.age %></td>
						<td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<br>

	<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>
<% else %>
	<h1>Hello from the home page</h1>
	<p>Find me in app/views/home/index.html.erb</p>
<% end %>
